body{
	margin: 0px;
}
#row{
	width: 100%;
	height: 30px;
	border-width: 0px;
	border-color: #f0f0f0;
	border-style: solid;
	text-align: center;
	margin: 0px;
}
#col{
	width: 20%;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #f0f0f0;
	text-align: center;
	background-color: #b4b4b4;
	box-sizing: border-box;
    float: left;
	padding: 2px 2px;
}

.dropdown{
	display: inline-block;
}
.dropdown a{
	background-color: #b4b4b4;
	color: black;
    display: block;
    height: 10 px;
    text-decoration: none;
    padding: 0px 70px;
}
.dropdown .content{
	display: none;
	position: absolute;
	background-color: #b4b4b4;
	text-align: center;
	box-shadow: 2px 2px 5px black;	
}
.dropdown:hover .content{
	display: block;
}
.dropdown:hover #col{
	background-color: #b4b4b4;
}
.dropdown a:hover{
	background-color: #787878;
}
marquee{
	padding: 5px 5px;
}
.navbar{
	width: 100%;
	height: 50px;
	background-color: slategrey;
	border-radius: 10px;
	color: black;
	font-size: 30px;
 	font-family: sans-serif;
 	padding-top: 15px;
 	font-weight: bold;
 	margin: 5px 0px;
 	
}